   <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand " href="# ">ALBUM</a>
        <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarsExampleDefault " aria-controls="navbarsExampleDefault " aria-expanded="false " aria-label="Toggle navigation ">
    <span class="navbar-toggler-icon "></span>
  </button>

        <div class="collapse navbar-collapse " id="navbarsExampleDefault ">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item active ">
                    <a class="nav-link " href="# ">Home <span class="sr-only ">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="# ">Category one</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="# ">Category two</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item">
                    <a class="nav-link" href=" # ">Add Photo</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href=" # ">Add Photo</a>
                </li>
            </ul>
        </div>
    </nav>
    <section>
        <div class="container ">
            <div id="gallery">
                <h2>All Images</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="photo photo-type-line">
                            <a href="pics/picc.jpeg" class="photo-hover" data-lightbox="my-images" data-title="umachaudh">
                                <div class="photo-info">
                                    <div class="headline">uma chaudhary</div>
                                    <div class="line"></div>
                                    <div class="desc">umalkjlfjdskajkefms ljsfidsfrsk; ldsfueidskfsjfj dsjflsadfjfsfjsdfuiej </div>
                                </div>
                                <div class="mask"></div>
                            </a>
                            <div class="photo-img"><img src="pics/picc.jpeg"></div>

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="photo photo-type-line">
                            <a href="pics/p1.jpeg" class="photo-hover" data-lightbox="my-images" data-title="umachaudh">
                                <div class="photo-info">
                                    <div class="headline">uma chaudhary</div>
                                    <div class="line"></div>
                                    <div class="desc">umalkjlfjdskajkefms ljsfidsfrsk; ldsfueidskfsjfj dsjflsadfjfsfjsdfuiej </div>
                                </div>
                                <div class="mask"></div>
                            </a>
                            <div class="photo-img"><img src="pics/p1.jpeg"></div>

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="photo photo-type-line">
                            <a href="pics/pic1.jpeg" class="photo-hover" data-lightbox="my-images" data-title="umachaudh">
                                <div class="photo-info">
                                    <div class="headline">uma chaudhary</div>
                                    <div class="line"></div>
                                    <div class="desc">umalkjlfjdskajkefms ljsfidsfrsk; ldsfueidskfsjfj dsjflsadfjfsfjsdfuiej </div>
                                </div>
                                <div class="mask"></div>
                            </a>
                            <div class="photo-img"><img src="pics/pic1.jpeg"></div>

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="photo photo-type-line">
                            <a href="pics/pic10.jpeg.jpeg" class="photo-hover" data-lightbox="my-images" data-title="umachaudh">
                                <div class="photo-info">
                                    <div class="headline">uma chaudhary</div>
                                    <div class="line"></div>
                                    <div class="desc">umalkjlfjdskajkefms ljsfidsfrsk; ldsfueidskfsjfj dsjflsadfjfsfjsdfuiej </div>
                                </div>
                                <div class="mask"></div>
                            </a>
                            <div class="photo-img"><img src="pics/pic10.jpeg"></div>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="photo photo-type-line">
                            <a href="pics/pic9.jpeg" class="photo-hover" data-lightbox="my-images" data-title="umachaudh">
                                <div class="photo-info">
                                    <div class="headline">uma chaudhary</div>
                                    <div class="line"></div>
                                    <div class="desc">umalkjlfjdskajkefms ljsfidsfrsk; ldsfueidskfsjfj dsjflsadfjfsfjsdfuiej </div>
                                </div>
                                <div class="mask"></div>
                            </a>
                            <div class="photo-img"><img src="pics/pic9.jpeg"></div>

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="photo photo-type-line">
                            <a href="pics/pic7.jpeg" class="photo-hover" data-lightbox="my-images" data-title="umachaudh">
                                <div class="photo-info">
                                    <div class="headline">uma chaudhary</div>
                                    <div class="line"></div>
                                    <div class="desc">umalkjlfjdskajkefms ljsfidsfrsk; ldsfueidskfsjfj dsjflsadfjfsfjsdfuiej </div>
                                </div>
                                <div class="mask"></div>
                            </a>
                            <div class="photo-img"><img src="pics/pic7.jpeg"></div>

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="photo photo-type-line">
                            <a href="pics/pic8.jpeg" class="photo-hover" data-lightbox="my-images" data-title="umachaudh">
                                <div class="photo-info">
                                    <div class="headline">uma chaudhary</div>
                                    <div class="line"></div>
                                    <div class="desc">umalkjlfjdskajkefms ljsfidsfrsk; ldsfueidskfsjfj dsjflsadfjfsfjsdfuiej </div>
                                </div>
                                <div class="mask"></div>
                            </a>
                            <div class="photo-img"><img src="pics/pic8.jpeg"></div>

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="photo photo-type-line">
                            <a href="pics/pic6.jpeg" class="photo-hover" data-lightbox="my-images" data-title="umachaudh">
                                <div class="photo-info">
                                    <div class="headline">uma chaudhary</div>
                                    <div class="line"></div>
                                    <div class="desc">umalkjlfjdskajkefms ljsfidsfrsk; ldsfueidskfsjfj dsjflsadfjfsfjsdfuiej </div>
                                </div>
                                <div class="mask"></div>
                            </a>
                            <div class="photo-img"><img src="pics/pic6.jpeg"></div>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="photo photo-type-line">
                            <a href="pics/pic5.jpeg" class="photo-hover" data-lightbox="my-images" data-title="umachaudh">
                                <div class="photo-info">
                                    <div class="headline">uma chaudhary</div>
                                    <div class="line"></div>
                                    <div class="desc">umalkjlfjdskajkefms ljsfidsfrsk; ldsfueidskfsjfj dsjflsadfjfsfjsdfuiej </div>
                                </div>
                                <div class="mask"></div>
                            </a>
                            <div class="photo-img"><img src="pics/pic5.jpeg"></div>

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="photo photo-type-line">
                            <a href="pics/pic4.jpeg" class="photo-hover" data-lightbox="my-images" data-title="umachaudh">
                                <div class="photo-info">
                                    <div class="headline">uma chaudhary</div>
                                    <div class="line"></div>
                                    <div class="desc">umalkjlfjdskajkefms ljsfidsfrsk; ldsfueidskfsjfj dsjflsadfjfsfjsdfuiej </div>
                                </div>
                                <div class="mask"></div>
                            </a>
                            <div class="photo-img"><img src="pics/pic4.jpeg"></div>

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="photo photo-type-line">
                            <a href="pics/pic13.jpeg" class="photo-hover" data-lightbox="my-images" data-title="umachaudh">
                                <div class="photo-info">
                                    <div class="headline">uma chaudhary</div>
                                    <div class="line"></div>
                                    <div class="desc">umalkjlfjdskajkefms ljsfidsfrsk; ldsfueidskfsjfj dsjflsadfjfsfjsdfuiej </div>
                                </div>
                                <div class="mask"></div>
                            </a>
                            <div class="photo-img"><img src="pics/pic13.jpeg"></div>

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="photo photo-type-line">
                            <a href="pics/pic11.jpeg" class="photo-hover" data-lightbox="my-images" data-title="umachaudh">
                                <div class="photo-info">
                                    <div class="headline">uma chaudhary</div>
                                    <div class="line"></div>
                                    <div class="desc">umalkjlfjdskajkefms ljsfidsfrsk; ldsfueidskfsjfj dsjflsadfjfsfjsdfuiej </div>
                                </div>
                                <div class="mask"></div>
                            </a>
                            <div class="photo-img"><img src="pics/pic11.jpeg"></div>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="photo photo-type-line">
                            <a href="pics/p1.jpeg" class="photo-hover" data-lightbox="my-images" data-title="umachaudh">
                                <div class="photo-info">
                                    <div class="headline">uma chaudhary</div>
                                    <div class="line"></div>
                                    <div class="desc">umalkjlfjdskajkefms ljsfidsfrsk; ldsfueidskfsjfj dsjflsadfjfsfjsdfuiej </div>
                                </div>
                                <div class="mask"></div>
                            </a>
                            <div class="photo-img"><img src="pics/p1.jpeg"></div>

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="photo photo-type-line">
                            <a href="pics/p1.jpeg" class="photo-hover" data-lightbox="my-images" data-title="umachaudh">
                                <div class="photo-info">
                                    <div class="headline">uma chaudhary</div>
                                    <div class="line"></div>
                                    <div class="desc">umalkjlfjdskajkefms ljsfidsfrsk; ldsfueidskfsjfj dsjflsadfjfsfjsdfuiej </div>
                                </div>
                                <div class="mask"></div>
                            </a>
                            <div class="photo-img"><img src="pics/p1.jpeg"></div>

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="photo photo-type-line">
                            <a href="pics/p1.jpeg" class="photo-hover" data-lightbox="my-images" data-title="umachaudh">
                                <div class="photo-info">
                                    <div class="headline">uma chaudhary</div>
                                    <div class="line"></div>
                                    <div class="desc">umalkjlfjdskajkefms ljsfidsfrsk; ldsfueidskfsjfj dsjflsadfjfsfjsdfuiej </div>
                                </div>
                                <div class="mask"></div>
                            </a>
                            <div class="photo-img"><img src="pics/p1.jpeg"></div>

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="photo photo-type-line">
                            <a href="pics/p1.jpeg" class="photo-hover" data-lightbox="my-images" data-title="umachaudh">
                                <div class="photo-info">
                                    <div class="headline">uma chaudhary</div>
                                    <div class="line"></div>
                                    <div class="desc">umalkjlfjdskajkefms ljsfidsfrsk; ldsfueidskfsjfj dsjflsadfjfsfjsdfuiej </div>
                                </div>
                                <div class="mask"></div>
                            </a>
                            <div class="photo-img"><img src="pics/p1.jpeg"></div>

                        </div>

                    </div>
                </div>
            </div>
    </section>
    <!-- /.container -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js " integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n " crossorigin="anonymous "></script>
    <script src="js/lightbox.js"></script>
    <script src="js/bootstrap.bundle.js "></script>

    <footer class="mt-1">
        <p class="text-center bg-dark text-white fixed-bottom">&copy; copyright Album 2020</p>
    </footer>
